.container {
    width: 40%;
    margin: 0 auto;
}

form {
    width: 100%;
    display: flex;
    flex-flow: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid blueviolet;
    border-radius: 4px;
    padding: 16px;
    background-color: lavender;
    color: blueviolet;
}

label {
    margin: 8px 0;
}

select {
    margin: 8px 0;
    padding: 12px;
    border-radius: 4px;
}

input {
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


.form-btn {
    background-color: violet;
    color: white;
    padding: 14px 28px;
    margin: 12px 0 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}