.container {
    width: 60%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

.row {
    overflow: hidden;
    /**/
}

.col-2 {
    float: left;
    width: 45%;
    padding: 5%;
    padding-top: 0;
}

.col-2:nth-child(2n + 1) {
    padding-left: 0;
}

.col-2:nth-child(2n) {
    padding-right: 0;
}

.img-fluid {
    width: 100%;
}

.img-fluid:hover {
    cursor: pointer;
}

.col-3 {
    float: left;
    width: 22.5%;
    padding: 0 2.5%;
}

.col-3:nth-child(3n + 1) {
    padding-left: 0;
}

.col-3:nth-child(3n) {
    width: 45%;
    padding-right: 0;
    padding-top: 0%;
}

.col-3-2 {
    float: left;
    width: 36%;
    padding: 5%;
    padding-top: 0;
}

.col-3-2:nth-child(2n + 1) {
    padding-left: 0;
}

.col-3-2:nth-child(2n) {
    width: 54%;
    padding-right: 0;
}

.col-3-2>h4 {
    margin-top: 0;
}

.col-3-2>h3:hover {
    cursor: pointer;
    text-decoration: underline;
}

h5:hover {
    cursor: pointer;
}
